/* Add your CSS to this file */
.container, ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items:center;
    padding: 10px;
}

.container li {
    margin-right: 10px; /* Add some margin for spacing */

}

.container{
    margin-top: auto;
}

.overview-hero{
    background-color:#E2E8F0;
}

.learn-about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card{
    border-radius: 5px;
    border: 1px solid;
    padding: 20px;
    box-shadow: 0px 5px #E2E8F0;
    text-align:left
}

.learn-about h2, .learn-about h3{
    color: #48BB78;
}

.learn-about h2{
    font-size: 24px;
}

.learn-about h3{
    font-size: 21px;
}

.testing{
    background-color: #4A5568;
    color: white;
}

.stories h2,.stories a{
    font-weight: bold;
    color: #5A67D8;
}
.article-body h3{
    font-size: 18px;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 260px;
    height: 180px;
}

.stories{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px; 
}

.article-body{
    padding: 20px;
    text-align:left
}

.stories-images{
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 350px;
    border-radius: 100%;
}

.life{
    width: 170px;
    height: 180px;
    padding-right: 10px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.newsletter{
    background-color: #48BB78;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    align-items: center;
}

.btn{
    background-color: #5A67D8;
}

footer{
    background-color: #4A5568;
    color: white;
}
